.landing-page {
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
  }
  .landing-content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 90vh;
}
  .landing-one {
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
  }
  .contact-us{
    background: #E8F1F5;
    border: 3px solid #252E56;
    border-radius: 6px;
    /* margin: 15px 0; */
    width: 100px;
    height: 40px;
    cursor: pointer;
    transition: 0.05s;
}
  .landing-image {
    width: 500px;
    height: 500px;
  }
  
  .top-picks-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .col {
    flex-direction: column;
  }
  
  .row {
    display: flex;
  }
  
  .features-grid-container {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    gap: 20px;
  }
  
.about-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.about{
  width: 75%;
  min-height: 60%;
}

.about-image{
  width: 500px;
    height: 500px;
}
  