.landing-page {
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
  }
  .landing-content{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
  .landing-one {
    display: flex;
  }
  
  .landing-image {
    width: 500px;
    height: 500px;
  }
  
  .top-picks-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .col {
    flex-direction: column;
  }
  
  .row {
    display: flex;
  }
  
  .features-grid-container {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    gap: 20px;
  }
  
.about-content{
  display: flex;
}

.about{
  width: 75%;
  min-height: 60%;
}

.about-image{
  width: 500px;
    height: 500px;
}
  