.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_button {
  background: #252e56;
  border: 0.5px solid #0c4271;
  border-radius: 5px;
  cursor: pointer;
  width: 92px;
  height: 56px;
  position: relative;
  bottom: 5px;
}

.parent_searcher {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
  min-height: 100dvh;
}
.filters {
  background: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 15px 50px 15px;
}
.filter-submit {
  background-color: #252e56;
  color: #ffffff;
  border: 1px solid #8388a0;
  border-radius: 3px;
  padding: 5px;
}
.submit-filters-div {
    display: flex;
    justify-content: flex-end;
}
@media only screen and (max-width: 600px) {
  .search_box {
    padding: 30px 0;
    width: 95vw;
  }
}
