.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_button{
    background: #252E56;
    border: 0.5px solid #0C4271;
    border-radius: 5px;
    cursor: pointer;
    width: 91px;
    height: 56px;
    position: relative;
    bottom: 5px;
}
.parent_searcher{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F6F6F6;
}
.filters{
    background: #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 0 15px 50px 15px;
}