.ReactModal__Body--open {
    overflow: hidden;
}
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
.tempdiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-height: 78vh;
    min-width: 100%;
}
.signupform{
    background: #E9EDFA;
    min-height: 83vh;
    min-width: 30vw;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formbox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}
.modal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height:100%;
}
.Button{
    background: #BAC6F2;
    border-radius: 3px;
    min-width: 85%;
    min-height: 56px;
    cursor: pointer;
    margin-top: 25px;
}
@media only screen and (max-width:1200px){
    .modal{
        justify-content: center;
    }
}
@media only screen and (max-width:900px){
    .signupform{
        min-width:50vw;
    }
    .image{
        padding: 0;
        margin:0;
    }
}
@media only screen and (max-width:600px){
    .signupform{
        min-width:80vw;
    }
}
@media only screen and (max-width:500px){
    .signupform{
        min-width:90vw;
    }
}