.ReactModal__Body--open {
    overflow: hidden;
}
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
.signupform{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: #E9EDFA;
    border-radius: 36px;
}
.formbox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.modal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:'100%'
}