.parent_navbar{
    position: fixed;
    top: 0;
    min-width: 100vw;
    border: 1px solid #0C4271;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    background: #E9EDFA;
    z-index: 100;
}
.scrolled{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;  
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 90%;
}
.navitems{
    width: 35vw;
    justify-content: space-evenly;
    position: relative;
    left: 50px;
}
.navitem{
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: 0.05s;
    font-size: 1rem;
}
.navitem:hover{
    font-size: 1.1rem;
}
.iconitem{
    font-size: 1.7rem;
    transition: 0.05s;
}
.iconitem:hover{
    font-size: 1.8rem;
}
.logo{
    font-family: 'Inter', sans-serif;
}
.signup{
    background: #E8F1F5;
    border: 3px solid #252E56;
    border-radius: 6px;
    margin: 0 15px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    transition: 0.05s;
}
.signup:hover,
.signin:hover{
    width: 115px;
    height: 45px;
}
.logout{
    background: #A1B4FB;
    border-radius: 6px;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signin{
    background: #252E56;
    border-radius: 6px;
    margin: 0 15px; 
    color: white;
    border: none;
    width: 100px;
    height: 40px;
    cursor: pointer;
}
@media only screen and (max-width:900px){
    .container{
        justify-content: center;
        align-items: center;
    }
    .navitems{
        min-height: 90dvh;
        justify-content: center;
    }.signup,.signin{
        margin:45px 15px ;
    }
    .navitem{
        padding:30px;
    }
    .logout{
        margin:35px 20px;
    }
}
@media only screen and (max-width:600px){
    .navitem{
        padding-left: 0;
    }
    .signup,.signin{
        margin-left: 0;
    }
}